lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

logs
project/project
project/target
target
tmp
.history
dist
.idea
*.iml
out
.idea_modules
.classpath
.project
RUNNING_PID
.settings
